@import './_base.scss';
@import './_variables.scss';
@import './mixins/_mixins.scss';
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-default;
  background: #f5f5f9;
  text-rendering: optimizeLegibility;
  background: url(../bg.jpg) no-repeat;
  background-size: cover;

  img {
    pointer-events: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
}

.footer-btn {
  padding: px2rem(25);
}
.mt-10{
  margin-top: px2rem(20);
}
.ta-c{
  text-align: center;
}

.flex-wrp {
  display: flex;
}
.flex-item {
  flex: 1;
}

.mint-toast {
  background: rgba(#e7af1a, .95);
}

.page {
  position: relative;
  min-height: 100%;
  // width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.page-view {
  position: absolute;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

@keyframes zoom {
  0% {
    transform: scale(.88, .88);
  }

  50% {
    transform: scale(.95, .95);
  }

  100% {
    transform: scale(.88, .88);
  }
}

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: px2rem(750);
  height: px2rem(138);
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: px2rem(750);
  margin-top: px2rem(90);
  text-align: center;
  color: #e7af1a;
}

.music-warp{
  position: absolute;
  right: px2rem(40);
  top: px2rem(40);
  font-size: 0;
  z-index: 9;
  img{
    width: px2rem(80);
    pointer-events: auto;
  }
}
.isturn{
  animation: roll 5s linear infinite;
}

@keyframes roll{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
