@import '../../assets/style/mixins/_mixins.scss';
.share-section{
  width: 100%;
  background-size: 100% 100%;
  button {
    border: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .img-btn{
    position:absolute;
    bottom:px2rem(140);
    width:px2rem(633);
    height: px2rem(113);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .img-btn-bottom{
    position:absolute;
    bottom:px2rem(20);
    width:px2rem(633);
    height: px2rem(113);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .poster{
    width: 100%;
    margin: auto;
    padding-top: px2rem(20);
    position: relative;
    max-height: 75%;
    min-height: 80%;
    overflow: hidden;
    .logo{
      position:absolute;
      top: px2rem(30);
      right: px2rem(30);
      width: px2rem(122);
    }
    .lele{
      position: absolute;
      bottom: px2rem(60);
      width: px2rem(310);
      left: 50%;
      margin-left: px2rem(-155);
    }
    .poster-pic {
      // height: px2rem(1200);
      position: absolute;
      top: px2rem(280);
      left: px2rem(80);
      width: px2rem(570);
      height: px2rem(570);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 4px solid #ffffff;
      box-sizing: border-box;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: - px2rem(22);
        left: - px2rem(22);
        width: px2rem(600);
        height: px2rem(600);
        border: 2px solid #f6babd;
        box-sizing: border-box;
      }
    }
  }
}
