@import '../../assets/style/mixins/_mixins.scss';

.result-page {
  position: relative;
  width: 100%;
  // min-height: 100%;
  .bg {
    position: absolute;
    left: px2rem(88);
    bottom: px2rem(109);
    width: px2rem(641);
    height: px2rem(779);
  }

  .thumb {
    position: absolute;
    top: px2rem(44);
    left: px2rem(320);
    width: px2rem(100);
    height: px2rem(100);
    border-radius: 50%;
    border: px2rem(4) solid #e7af1a;
  }

  .name {
    position: absolute;
    top: px2rem(160);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: px2rem(28);
  }

  .share {
    display: block;
    position: relative;
    width: 100%;
    pointer-events: initial;
  }

  .logo {
    position: absolute;
    top: px2rem(65);
    left: px2rem(207);
    width: px2rem(344);
    height: px2rem(85);
  }

  .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  .percent {
    position: absolute;
    bottom: px2rem(788);
    right: px2rem(11);
    width: px2rem(386);
    height: px2rem(135);
    z-index: 11;
  }

  .btn1,
  .btn2 {
    position: absolute;
    bottom: px2rem(71);
    width: px2rem(211);
    height: px2rem(61);
    z-index: 11;
    background: transparent;
    border: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .btn1 {
    left: px2rem(160);
  }
  .btn2 {
    right: px2rem(160);
  }

  .tips {
    position: absolute;
    bottom: px2rem(20);
    width: 100%;
    text-align: center;
    color: #888;
    font-size: px2rem(24);
    z-index: 13;
  }

  .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: px2rem(532);
    height: px2rem(103);
    z-index: 10;
  }

  .share-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .85);
    z-index: 100;

    img {
      display: block;
      width: 100%;
    }
  }

  .qrcode {
    position: absolute;
    bottom: px2rem(9);
    right: px2rem(11);
    width: px2rem(94);
    height: px2rem(94);
  }
}
