@import '../../assets/style/mixins/_mixins.scss';

.home-page {
  .diy-slogan {
    display: block;
    margin: px2rem(40) auto px2rem(20);
    width: px2rem(662);
    height: px2rem(333);
  }
  .btn-details {
    position: absolute;
    top: px2rem(392);
    right: - px2rem(8);
    width: px2rem(178);
    height: px2rem(65);
  }

  .kids {
    display: block;
    margin: - px2rem(60) auto;
    margin-top: - px2rem(160);
    width: px2rem(750);
    height: px2rem(714);

    @media screen and (min-height: 700px) {
      margin: px2rem(40) auto;
    }
  }

  .btn-start {
    display: block;
    margin: 0 auto px2rem(57);
    width: px2rem(435);
    height: px2rem(105);
  }

  .btn-rank,
  .btn-works {
    display: block;
    margin: 0 auto;
    width: px2rem(304);
    height: px2rem(80);
  }

  .details-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 110;
  }

  .details-title {
    display: block;
    margin: 0 auto;
    width: px2rem(665);
    height: px2rem(97);
  }

  .title-rule {
    display: block;
    margin-left: - px2rem(20);
    margin-top: px2rem(30);
    margin-bottom: px2rem(30);
    width: px2rem(211);
    height: px2rem(52);
  }

  .rule-item {
    min-height: px2rem(54);
    margin-bottom: px2rem(43);

    .index {
      float: left;
      display: block;
      margin-top: - px2rem(10);
      width: px2rem(59);
      height: px2rem(59);
      text-align: center;
      line-height: px2rem(59);
      background: url(../../assets/images/rule-index1.png);
      background-size: contain;
      font-weight: bold;
    }

    p {
      padding-left: px2rem(80);
      line-height: 1.8;
    }
  }

  .details-content {
    height: px2rem(790);
    margin: - px2rem(40) auto;
    padding: px2rem(80) 0 0;
    width: px2rem(600);
    background: #fff;
    border: px2rem(4) solid #000;
    font-size: px2rem(24);
    color: #000;

    .title {
      font-size: px2rem(24);
      color: #000;
      text-align: center;
      font-weight: bold;
    }

    .container {
      position: relative;
    }

    .tmall {
      position: absolute;
      right: px2rem(0);
      top: px2rem(170);
      font-size: px2rem(20);
      color: red;
    }
  }

  .details {
    margin-top: px2rem(80);
  }

  .BScroll {
    height: px2rem(750);
    padding: 0 px2rem(20);
    overflow: hidden;

    .container {
      padding-bottom: px2rem(60);
    }
  }
}
