@import '../../assets/style/mixins/_mixins.scss';

.page {
  .bg {
    // position: absolute;
    width: 100%;
    // left: 50%;
    // transform: translateX(-50%);
  }

  .eye {
    position: absolute;
    top: px2rem(310);
    left: px2rem(317);
    width: px2rem(99);
    height: px2rem(111);
  }

  .start {
    position: absolute;
    top: px2rem(746);
    left: px2rem(232);
    width: px2rem(282);
    height: px2rem(282);
    padding: 0;
    background: transparent;
    border: 0;
    animation: zoom 1.5s infinite 0s;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
