@import '../../assets/style/mixins/_mixins.scss';

.mint-indicator {
  position: relative;
  z-index: 99;
}

.diy-page {
  background: #fff;

  .logo {
    position: absolute;
    top: px2rem(30);
    left: 50%;
    transform: translateX(-50%);
    width: px2rem(168);
    height: px2rem(52);
    z-index: 10;
  }

  .side-container {
    display: block;
    width: px2rem(750);
    height: px2rem(359);
    background: url(../../assets/images/side-bg.jpg) no-repeat;
    background-size: cover;
  }

  img {
    pointer-events: initial;
  }

  .btn-finished {
    position: absolute;
    top: px2rem(127);
    right: px2rem(30);
    width: px2rem(256);
    height: px2rem(72);
    z-index: 100;
  }

  .swiper-container {
    pointer-events: none;
  }

  .hammer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: px2rem(750);
    height: px2rem(750);
    z-index: 10;
  }

  .swiper-pagination-bullet {
    border: px2rem(4) solid transparent;
    width: px2rem(20);
    height: px2rem(20);
  }
  .swiper-pagination-bullet-active {
    border-color: #000;
    background: #fec81e;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: px2rem(20);
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 px2rem(16);
  }

  .side-item {
    position: relative;

    &.active {
      button {
        background-image: url(../../assets/images/btn-side_active.png);
      }
    }

    button {
      display: block;
      margin: 0 auto;
      height: px2rem(145);
      width: px2rem(163);
      background: url(../../assets/images/btn-side.png) no-repeat;
      background-size: contain;

      img {
        margin: px2rem(5) auto;
        width: px2rem(74);
        height: px2rem(40);
      }
    }
  }

  .side-items {
    position: relative;
    padding-top: px2rem(70);
    z-index: 2;
  }

  .parts-container {
    margin: 0 auto;
    padding: px2rem(56) 0 0;
    width: px2rem(646);
    height: px2rem(88);
    text-align: center;
    box-sizing: border-box;

    .part-item {
      position: relative;
      display: inline-block;
      width: 19%;
      text-align: center;
      line-height: 1.4;
      font-size: px2rem(26);
      color: #000;
      font-weight: bold;

      &.active {
        color: #000;

        &::after {
          content: ' ';
          position: absolute;
          left: 0;
          bottom: - px2rem(6);
          width: 100%;
          height: px2rem(4);
          background: #000;
          border-radius: px2rem(4);
        }
      }
    }
  }

  .diy-picker {
    font-size: px2rem(24);
    color: #1a1a1a;
    height: px2rem(140);
    white-space: nowrap;
    overflow: hidden;

    .colors {
      height: px2rem(140);
      white-space: nowrap;

      span {
        display: block;
        float: left;
        width: px2rem(140);
        height: px2rem(140);
        line-height: px2rem(140);
        text-align: center;
        background: #f1f2ed;
        font-weight: bold;
      }
    }

    .diy-picker-scroll {
      width: px2rem(900);
      height: px2rem(140);

      &.has-file {

        .diy-file {
          display: block;
        }

        .colors {
          display: none;
        }
      }
    }
  }

  .diy-file {
    display: none;
    float: left;
    width: px2rem(750);

    .text {
      display: block;
      float: left;
      margin-left: px2rem(240);
      height: px2rem(140);
      line-height: 1.4;
      box-sizing: border-box;
      padding-top: px2rem(30);
      text-align: center;

      span {
        display: block;
        font-size: px2rem(34);
      }

      p {
        display: block;
        font-size: px2rem(24);
        color: #999;
      }
    }

    .add-file {
      margin: px2rem(17) px2rem(30);
      width: px2rem(96);
      height: px2rem(96);
    }
  }
}

#back-container,
#front-container,
#right-container,
#left-container {
  padding-left: px2rem(90);
  padding-right: px2rem(90);
  height: px2rem(710);
  box-sizing: border-box;
  background: #f1f2ed;

  @media screen and (min-height: 700px) {
    height: px2rem(900);
  }
}

#back-container {
  padding-left: px2rem(150);
  padding-right: px2rem(150);
  padding-top: px2rem(220);

  .right_part_1 {
    transform: translate(0%, 0);
    transform-origin: 0 0;
  }

  .left_part_1 {
    transform: translate(-160%, 0);
    transform-origin: 0 0;
  }
}

#front-container {
  padding-left: px2rem(190);
  padding-right: px2rem(190);
  padding-top: px2rem(220);

  .right_part_1 {
    transform: rotate(90deg) translate(0, -60px);
    transform-origin: 0 0;
  }

  .left_part_1 {
    transform: rotateY(180deg) rotate(90deg);
    transform-origin: 0 0;
  }
  
  .left_part_1_2 {
    transform: rotateY(180deg) rotate(90deg);
    transform-origin: 0 0;
  }

  .right_part_1_2 {
    transform: rotate(90deg) translate(-380px, -60px);
    transform-origin: 0 190px;
  }
}

#right-container {
  padding-top: px2rem(260);
}

#left-container {
  padding-top: px2rem(260);
}

@media screen and (min-height: 700px) {
  #back-container,
  #front-container {
    padding-top: px2rem(320);
  }

  #right-container {
    padding-top: px2rem(360);
  }

  #left-container {
    padding-top: px2rem(360);
  }
}
